.detailContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

@media (max-width: 900px) {
    .detailContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
  }
